attrs==21.4.0
get-nic==0.0.3
iniconfig==1.1.1
packaging==21.3
passlib==1.7.4
pexpect==4.8.0
pluggy==1.0.0
ptyprocess==0.7.0
py==1.11.0
pyparsing==3.0.7
pytest==7.1.1
pytest-html==3.1.1
pytest-metadata==2.0.1
PyVirtualDisplay==3.0
tomli==2.0.1
